
html, 
body {
    height: 100%;
}

.tituloPrincipal {
    width: 100%;
    min-height: 200px;
    background-color: black;
    font-size: 34px;
    color:white;
    border-radius: 4px;
    background-color: transparent;
    text-align: left;
    padding-top: 20px;
    padding-left: 50px;
}

.contenedor {
    border-bottom: 0.5px solid black;
    background-image: url('../imagenes/gym.jpg');
}



.contenido {
    display: flex;
    width: 100%;
    height: 100%;
    
}

.lateral {
    border-right: 1px solid black;
    width: 20%;
    height: 100%;
}

.iconoArriba {
    width: 10px;
    height: 10px;
}

.botonAccion {
    background-color: transparent;
    border: 0px solid black;
    width: 100%;
    height: 100%;
}

.interiorContent {
    padding: 3%;
    min-height: 100%;
    border: 1px dotted black;

}

.titContent {
    text-align: center;
    font-size: 28px;
}

.panelContenido {

    width: 80%;
    height: 100%;
}

ul {
    list-style-type: none !important;
    margin: 0px;
    padding: 4px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

li {
    border-radius: 4px;
    border: 1px solid black;
    padding: 6px;
    margin-top: 2px;
   box-shadow: 1px 2px ;
    list-style-type: none;
    margin-bottom: 50px;
    font-size: 24px;
    min-height: 35px;
    height: 40px;
    padding: 7px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 90%;
    align-items: left;
    -webkit-box-shadow: 7px 12px 20px -11px rgba(0,0,0,0.52);
-moz-box-shadow: 7px 12px 20px -11px rgba(0,0,0,0.52);
box-shadow: 7px 12px 20px -11px rgba(0,0,0,0.52);
}

.iconos {
 margin-right: 4px;
}

.contenedorInicio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.textoObjeto {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.tarjeta {
    -webkit-box-shadow: 4px 8px 6px -4px rgba(0,0,0,0.42);
-moz-box-shadow: 4px 8px 6px -4px rgba(0,0,0,0.42);
box-shadow: 4px 8px 6px -4px rgba(0,0,0,0.42);
border-radius: 4px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.footerdiseño {
    background-color: black;
    color: white;
    min-height: 80px;
    max-height: 100px;
    min-width: 100%;
}

.textoFooter {
    font-size: 24px;
    text-align: left;
    padding: 1%;
}